body {
    background-image: url('../pic_original/backround.jpg');
}
div#everything {
    width: 750px;
    margin-left: auto;
    margin-right: auto;
    background-color: purple;
}
div#everything p {
    margin: 0;
    font-size: 14px;
    color: #EDEDED;
}
div#header {
    width: 100%;
    height: 100px;
    background-image: url('../pic_original/backroundimg.jpg');
}
div#meny {
    width: 100%;
    height: 40px;
    background-color: yellowgreen;
    text-align: center;
    line-height: 37px;
}
a.MenyButton {
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 8px;
    text-decoration: none;
    color: green;
}
div#logo {
    width: 100px;
    height: 40px;
    background-color: darkred;
    float: left;
    margin-top: 30px;
    text-align: center;
    text-decoration: none;
    color: white;
}

div#bilder {
    width: 100%;
    height: 125px;
    background-color: darkcyan;
}
div#content {
    background-color: silver;
    width: 100%;
}
div#rightcontent {
    float: right;
}
div#leftcontent {
    width: 550px;
    height: 450px;
    background-color: #550094;
 }
div#boka {
    width: 200px;
    height: 450px;
    background-color: #490094;
}
div#copyright {
    height: 30px;
    width: 100%;
    background-color: gray;
}

