body {
    background-color: black;
}

div#header {
    margin-right: auto;
    margin-left: auto;
    width: 600px;
    height: 100px;
    background-color: white;
}
div#meny {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 40px;
    background-color: yellowgreen;


}
div#logo {
    width: 100px;
    height: 40px;
    background-color: darkred;
    float: left;
    margin-top: 30px;
    text-align: center;
}
div#boka {
    width: 100px;
    height: 40px;
    background-color: darkgreen;
    float: right;
    margin-top: 30px;
    text-align: center;
}
div#bilder {
    width: 600px;
    height: 125px;
    background-color: darkcyan;
    margin-left: auto;
    margin-right: auto;
}
div#Resturanger {
    float: left;
    margin-top: 8px;
    margin-left: 57px;
    margin-right: 35px;

}
div#Avslappnig {
    float: left;
    margin-top: 8px;
    margin-left: 35px;
    margin-right: 35px;
}
div#Erbjudande {
    float: left;
    margin-top: 8px;
    margin-left: 35px;
    margin-right: 35px;

}
div#Omoss {
    float: left;
    margin-top: 8px;
    margin-left: 35px;
    margin-right: 57px;

}
div#content {
    background-color: silver;
    width: 600px;
    height: 1000px;
    margin-left: auto;
    margin-right: auto;

}