body {
    background-color: black;
}
div#everything {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: purple;
}
div#header {
    width: 100%;
    height: 100px;
    background-color: white;
}
div#meny {
    width: 100%;
    height: 40px;
    background-color: yellowgreen;
    text-align: center;
    line-height: 37px;
}
a.MenyButton {
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 8px;
    text-decoration: none;
    color: green;
}
div#logo {
    width: 100px;
    height: 40px;
    background-color: darkred;
    float: left;
    margin-top: 30px;
    text-align: center;
    text-decoration: none;
    color: white;
}
div#boka {
    width: 100px;
    height: 40px;
    background-color: darkgreen;
    float: right;
    margin-top: 30px;
    text-align: center;
    text-decoration: none;
    color: white;
}
div#bilder {
    width: 100%;
    height: 125px;
    background-color: darkcyan;
}
div#content {
    background-color: silver;
    width: 100%;
}
div#rightcontent {
    float: right;
}
div#leftcontent {
    width: 450px;
    height: 450px;
    background-color: darkred;
 }
div#karta {
    width: 150px;
    height: 150px;
    background-color: orangered;
}
div#textbox {
    background-color: darkorange;
    height: 300px;
    width: 150px;
    float: right;
}
div#copyright {
    height: 30px;
    width: 100%;
    background-color: gray;
}
